*{
    box-sizing: border-box;
}
body {
    background: #10101B;
    height: 100vh;
}
.container {
    margin-top: 30px;
}

.half-width {
    height: 570px;
    background: #222436;
    padding: 30px;
    text-align: center;
}
.generate-btn{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 50%;
    border: 8px solid #39458C;
    background-color: #495BC3;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.generate-btn:focus{
    outline: none;
    box-shadow: none;
}

input[type='text']{
    background-color: #3D4153;
    padding: 10px 0px;
    color: black;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #858299;
    height: 50px;
    padding: 10px;
}
input[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
.numbers {
    margin: 30px 0;
}

.calc-typed {
margin-top: 20px;
font-size: 45px;
text-align: right;
color: #fff;
}

.calc-button-row {
width: 100%;
}

.button {
width: 20%;
background: #425062;
color: #fff;
padding: 20px 0;
margin: 5px;
display: inline-block;
font-size: 25px;
text-align: center;
vertical-align: middle;
margin-right: -4px;
border-radius: 10px;
cursor: pointer;
}
.blink-me {
color: #E0B612;
}
.submit-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 120px;
    border-radius: 5px;
    background: #495BC3;
    color: #fff;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}
/* animiton button */
.glow-on-hover {
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}